.App {
  background-color: #0054AE;
  color: white;
  text-align: center;
}

.App-title {
  padding: 1vw;
  padding-top: 10px;
  padding-bottom: 3vh;
  font-size: 5vw;
}

.bread {
  background-color: #0054AE !important;
  padding-left: 5vw !important;
  padding-right: 5vw !important;
  padding-top: 15px !important;
}

.bread ol {
  margin: 0 !important;
}

.breadcrumb li a {
  color: white !important;
  opacity: 1 !important;
  font-size: 15px !important;
}

.breadcrumb-item.active {
  color: white !important;
}

.App-header {
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: auto;
} 
